img {
    pointer-events: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.char-box {
    font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
    border-radius: 2px;
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px;
}

.char-box img {
    width: 150px;
    height: 150px
}

.char-box-modal img {
    width: 200px;
    height: 200px
}

.container-fluid {
    padding: 2%;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 2%;
}

.col-xs-15 {
    width: 15%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-15 {
        width: 15%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 15%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 15%;
        float: left;
    }
}

.margin-right-2 {
    margin-right: 2%;
}

.margin-right-4 {
    margin-right: 4%;
}

.margin-header {
    margin: 0 6% 0 2%;
}

.margin-auto {
    margin: 0 auto;
}

.error {
    background-color: lightcoral;
}

.success {
    background-color: lightgreen;
}

.default {
    background-color: rgba(144, 144, 144, 0.7);
}

.red {
    color: red;
}

.green {
    color: green;
}

.white {
    color: white;
}

.float-my-children > * {
    float:left;
    margin-right:5px;
}

/* this is called a clearfix. it makes sure that the container's children floats are cleared, without using extra markup */

.clearfix {
    *zoom:1 /* for IE */
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* SPLASH */

/* Animation properties */
.star {
    animation: star 10s ease-out;
}
.wars {
    animation: wars 10s ease-out;
}
.byline span {
    animation: spin-letters 10s linear;
}
.byline {
    animation: move-byline 10s linear;
}
.start-btn {
    animation: show-start-btn 10s linear;
}

/* Keyframes */
@keyframes star {
    0% {
        opacity: 0;
        transform: scale(1.5) translateY(-0.75em);
    }
    20% {
        opacity: 1;
    }
    89% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 1;
    }
}

@keyframes wars {
    0% {
        opacity: 0;
        transform: scale(1.5) translateY(0.5em);
    }
    20% {
        opacity: 1;
    }
    90% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 1;
    }
}

@keyframes spin-letters {
    0%, 10% {
        opacity: 0;
        transform: rotateY(90deg);
    }
    30% {
        opacity: 0;
    }
    70%, 86% {
        transform: rotateY(0);
        opacity: 1;
    }
    95%, 100% {
        opacity: 0;
    }
}


@keyframes move-byline {
    0% {
        transform: translateZ(5em);
    }
    100% {
        transform: translateZ(0);
    }
}

@keyframes show-start-btn {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    95% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Make the 3D work on the container */
.starwars-demo {
    perspective: 800px;
    transform-style: preserve3d;
}

/* General styles and layout */
body {
    background: #000 url(//media-s3-us-east-1.ceros.com/editorial-content/images/2017/12/11/c759d78e5908c0b440c619d1bce865c8/background-stars.jpg);
    background-size: 100%;
}

.starwars-demo {
    height: 17em;
    left: 50%;
    position: absolute;
    top: 53%;
    transform: translate(-50%, -50%);
    width: 34em;
}

.byline span {
    display: inline-block;
}

img {
    width: 100%;
}

.star, .wars, .byline, .start-btn {
    position: absolute;
}

.star {
    top: -0.75em;
}

.wars {
    bottom: -0.5em;
}

.start-btn {
    text-align: center;
    bottom: -5em;
    left: 40%;
}

.byline {
    color: #fff;
    font-family: "Serif Gothic Bold", Lato;
    font-size: 2.25em;
    left: -2em;
    letter-spacing: 0.4em;
    right: -2em;
    text-align: center;
    text-transform: uppercase;
    top: 40%;
}

/*** Media queries for adjusting to different screen sizes ***/

@media only screen and (max-width: 600px) {
    .starwars-demo {
        font-size: 10px;
    }
}

@media only screen and (max-width: 480px) {
    .starwars-demo {
        font-size: 7px;
    }
}

