<div id="finishModal" class="modal hide" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Quiz Finalizado!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-3 col-md-offset-2 margin-auto ">
                    <span><span class="h1">{{points}}</span> pontos</span>
                </div>
                <br>
                <div>
                    <span>Preencha o form abaixo para salvar sua pontuação:</span>
                </div>
                <br>
                <form>
                    <div>
                        <label>Nome: *</label>
                        <input type="text" class="form-control input-sm" name="guess" ng-model="user.name" required>
                    </div>
                    <br>
                    <div>
                        <label>E-mail:</label>
                        <input type="text" class="form-control input-sm" name="guess" ng-model="user.email">
                    </div>
                    <br>
                    <div class="col-md-3 col-md-offset-2 margin-auto input-group-btn">
                        <button class="btn btn-md" type="submit" ng-click="saveUserData(user)"><i class="fa fa-floppy-o"></i> Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>