<div id="infoModal" class="modal hide" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="char-box-modal clearfix float-my-children">
                    <img class="img-thumbnail" ng-src="{{modalDetails.image}}">
                    <div ng-if="modalDetails.speciesNames.length > 0">
                        <span><b>Specie:</b> {{modalDetails.speciesNames}}</span>
                    </div>
                    <br>
                    <div>
                        <span><b>Height:</b> {{modalDetails.height}}</span>
                    </div>
                    <br>
                    <div>
                        <span><b>Hair:</b> {{modalDetails.hair_color}}</span>
                    </div>
                    <br>
                    <div >
                        <span><b>Planet:</b> {{modalDetails.planet}}</span>
                    </div>
                    <br>
                    <div ng-if="modalDetails.filmsNames.length > 0">
                        <span><b>Movies:</b> {{modalDetails.filmsNames}}</span>
                    </div>
                    <br>
                    <div ng-if="modalDetails.vehiclesNames.length > 0">
                        <span><b>Vehicles:</b> {{modalDetails.vehiclesNames}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>