<!doctype html>
<html ng-app="starquiz">
    <head>
        <meta charset="utf-8"/>
        <title>Star Quiz! - Victor Mazzoni</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">

        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/moment/min/moment.min.js"></script>
        <script src="bower_components/moment/min/locales.min.js"></script>
        <script src="bower_components/humanize-duration/humanize-duration.js"></script>
        <script src="bower_components/angular-timer/dist/assets/js/angular-timer-bower.js"></script>
        <script src="bower_components/angular-timer/dist/assets/js/angular-timer-all.min.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

        <script src="js/quizController.js"></script>
        <script src="js/quizService.js"></script>

    </head>

    <body ng-controller="QuizController" ng-init="init()">
        <div class="container-fluid">
            <div class="row margin-header" style="clear: both;">
                <div class="col-md-6">
                    <h1 class="display-1 white alignleft">StarQuiz!</h1>
                </div>
                <div class="col-md-6 text-right">
                    <i class="fas fa- fa-clock white h1 margin-right-2"></i>
                    <timer class="h1" ng-class="{white: !timeIsFinished, red: timeIsFinished}" countdown="5" max-time-unit="'minute'" finish-callback="finished()" interval="1000">{{mminutes}}:{{sseconds}}</timer>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="row">
                <div class="col-xs-15 col-sm-15 col-md-15 col-lg-15 char-box" ng-class="{error: !character.rightAnswer && character.answered, success: character.rightAnswer && character.answered, default: !character.answered}" ng-repeat="character in characters">
                    <div class="form-group">
                        <img class="img-thumbnail" ng-src="{{character.image}}">
                    </div>
                    <div>
                        <div class="btn-group">
                            <div class="input-group-btn margin-right-4">
                                <button class="btn btn-md" type="submit" ng-click="showInput(character)" ng-disabled="character.answered"><i class="fas fa-question-circle"></i></button>
                            </div>

                            <input type="text" class="form-control input-sm" name="guess" ng-model="answer" ng-disabled="character.answered" ng-show="character.canShowInput">
                            <div class="input-group-btn margin-right-4" ng-show="character.canShowInput">
                                <button class="btn btn-md btn-primary" type="submit" ng-click="validateAnswer(answer, character)" ng-disabled="character.answered"><i class="fas fa-check-circle"></i></button>
                            </div>

                            <div class="input-group-btn">
                                <button class="btn btn-md" type="submit" ng-click="showInfo(character)" ng-disabled="character.answered"><i class="fas fa- fa-ellipsis-h"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination-centered text-center">
                <button class="btn btn-md btn-info" type="submit" ng-click="previousPage()" ng-if="hasPrevious"><i class="fas fa-arrow-alt-circle-left"></i> Anterior</button>
                <button class="btn btn-md btn-info" type="submit" ng-click="nextPage()" ng-if="hasNext">Próximo <i class="fas fa-arrow-alt-circle-right"></i></button>
            </div>
        </div>

        <div ng-include src="'info-modal.html'"></div>
        <div ng-include src="'finish-modal.html'"></div>

        <ng-view></ng-view>


    </body>
</html>